.heading h1 {
  padding: 10px;
  /* display: block; */
  text-align: center;
  color: rgb(105, 193, 196);
}
.para{
  text-align: center;
  color: rgb(95, 160, 126);
}

.card{
  padding: 16px;
  width: 250px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: rgba(99, 96, 96, 0.16) 0px 1px 4px;
  background-color: #cac2a3;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}